:root {
  --primary: #151719;
  --white: #ffffff;
  --grey: #eeeeee;
  --black: #000000;
  --secondary-bg-color: #151719;
  --error: #f44242;
  --pri-grey: #d5d5d5;
  --secondary-green: rgb(14, 154, 51);
  --sec-text-color: #333;
  --ter-text-color: #666;

  --primary-font: "Open Sans";
  --font-family: "Open Sans", -apple-system, "Ubuntu", "Helvetica Neue",
    sans-serif;

  --pri-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.1);

  //scrollbar
  --pri-scrollbar-width: 7px;
  --pri-scrollbar-height: 8px;
  --scrollbar-border-radius: 5px;

  // The background color of the mask, used to cover the content below the mask, Modal,
  --colorBgMask: rgba(0, 0, 0, 0.6);
  --pri-modal-padding: 20px;
}
