.primary-modal {
  width: 520px;

  .ant-modal-title {
    font-size: 1.45rem !important;
    font-weight: 700;
  }

  .ant-modal-header {
    background-color: #ebebeb;
    border-radius: 8px !important;
    padding: 10px 15px;
  }
  .ant-modal-content {
    padding: 0;
  }
  .ant-modal-body,
  .ant-modal-footer {
    padding: 15px;
  }
}
